
body{
    background-image: url(./images/fond.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;   
    height: 100vh;
    text-align: center;
    justify-items: center;
    font-family: "Jacquard 24", system-ui;
}

h1{
    display: inline-block;
    padding: 10px;  
    background-color: rgb(34, 34, 34);
    color: white;
    text-align: center;
    font-weight: 100;
}
.text{
    color: black;
    width: 500px;
    height: 275px;
    display: inline-block;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/vrai\ parchemin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 750px;
    height: 350px;
}  

.choices{
    margin: 5px;
    background-color: aliceblue;
    border-color: blue;
    border:1px solid;
}

.image-vieux{
    position: relative;
    
}

#vieux {
    position: absolute;
    width: 150px;
    height: auto;
    transition: transform 2s ease-in-out;
    transform: translate(-50%, -5%);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 1;
  transition: opacity 1s ease;
  z-index: 1000;
  pointer-events: all;
}

#overlay.fade-out {
  opacity: 0;
  pointer-events: none;
}

#home_button {
      position: fixed;
      top: 20px;
      right: 20px;
      padding: 10px 14px;
      background: white;
      color: black;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 8px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }
#home_button i {
    font-size: 20px;
}
#sound_button {
      position: fixed;
      top: 20px;
      right: 80px;
      padding: 10px 14px;
      background: white;
      color: black;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 8px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }

#sound_button i {
    font-size: 20px;
}

